@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #fff;
  background-color: #0b3a00;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}